BasedOnStyle: GNU
IndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Left
AlwaysBreakAfterReturnType: AllDefinitions
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: Always
  AfterFunction: true
  AfterClass: true
  AfterStruct: true
  AfterEnum: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
